.Chrome {
	display: grid;
	grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: auto;
	grid-template-areas:
		'title shuffle search'
		'content content content'
	;
}

@media only screen and (max-width: 600px)  {
	.Chrome {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto;
		grid-template-areas:
			'title title'
			'content content'
			'shuffle search'
		;
	}
}

.title {
	grid-area: title;
}

.shuffle {
	grid-area: shuffle;
}

.search {
	grid-area: search;
}

.content {
	grid-area: content;
}